# Exclude the virtual environment
/venv/
/.venv/

# Exclude Python cache files
__pycache__/

# Exclude ide project files
.idea/
*.iml
.vscode

# Exclude other project-specific files
OCR_for_files.py
images/

#envvironment variables
.env
.env.*
!.env.example

/env